@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-none transition-colors duration-200;
  }
  
  .btn-primary {
    @apply bg-white text-black hover:bg-gray-200;
  }
  
  .btn-secondary {
    @apply bg-transparent border border-white hover:bg-white hover:text-black;
  }
} 